<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <div>
        <a href="/protected/">Users</a>
        <a href="/auth/logout">Logout</a>
    </div>
    <h1>User Details</h1>
    <% if (!user) { %>
        <p>User not found</p>
    <% } else { %>
        <p>Username: <%= user.user_name %></p>
        <p>Email: <%= user.user_email %></p>
    <% } %>
    <span><a href="/protected/edit/<%= user.user_id %>">Edit user</a></span>

</body>
</html>
